* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    border: 0px solid black;
    outline: 0;
}

body {
    background: #fafafa;
}

nav {
    height: 50px;
    width: 100%;
    background: #f0f0f0;
}

nav ul li {
    display: inline;
    position: relative;
    line-height: 50px;
    text-align: center;
    width: 75px;
}

nav ul li:hover {
    background: rgb(230, 230, 230);
}

nav ul li ul {
    display: none;
    position: absolute;
    left: 0px;
    top: 50px;
    width: 175px;
}

nav ul li ul li {
    display: none;
}

nav ul li:hover ul {
    display: block;
}

nav ul li:hover ul li {
    display: block;
}